
    .books , .offers{
        background-color: white;

        h6 {
            background-color: $primaryColor;
            color: white;
        }


        
        h5,p,h6{
            text-align: right
        }


    }



