.icons{
    width: 100%;
    background-color: $primaryColor;
    svg{
        color: white;
        font-size: 1.3em !important;
    }

    .counter{

        color:white;
        font-weight: bold;
    }
}